# Welcome to the external postgres

This service helps with external postgres databases:

- creation of connection string as configuration to dependent services

- creation of migration jobs


This services also provides a local postgres database for development and testing purposes.
