apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Service.Unique.DNSCase }}
  namespace: {{ .Service.Namespace }}
spec:
  template:
    spec:
      containers:
        - name: {{ .Service.Unique.DNSCase }}
          image: image:tag
          envFrom:
            - secretRef:
                name: secret-{{ .Service.Unique.DNSCase }}
      restartPolicy: Never
